@model IEnumerable<RequestVacationVm>


<div class="container">
    <a class="btn btn-primary" asp-action="Create"> Create</a>

    @{
        if(Model.Count()>0)
        {
            <table class="table table-dark my-4">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th> Request Date</th>
                        <th>Vacations</th>
                        <th>Approved</th>
                        <th>Comment</th>
                        <th>Events</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.Employee.Name</td>

                                <td> @item.DateRequestVacation</td>

                                <td style="background-color:@(@item.VacationType.Background_Color)">
                                <div class="d-flex justify-content-center">
                                <p class="mx-1"> @item.StartDateVacations</p>
                                <p class="mx-1"> @item.VacationType.Name</p>
                                <p class="mx-1"> @item.EndDateVacations</p>
                                </div>

                                </td>

                                <td class="text-center"><input type="checkbox" class="form-control" asp-for="@item.Approved" disabled/></td>
                                

                                <td>@item.Comment</td>
                                 <td>

                                    <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">Delete</a>
                                    <a class="btn btn-primary" asp-route-id="@item.Id" asp-action="Update">Update</a>
                                 
                                 </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="m-4 alert alert-danger">NO Have Any Requests Vacations</div>
        }
    }


</div>