@model IEnumerable<VacationTypeVm>
@{
    ViewData["Title"] = "Vacation Type";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Departments</h4>

            <p>
                <a asp-action="Create" class="btn btn-info">Create New</a>
            </p>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumberDays)
                        </th>

                        <th>Events</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberDays)
                            </td>
                            <td>
                                <a asp-action="Update" class="btn btn-primary" asp-route-id="@item.Id">Update</a>
                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>